@page "/employees"
@using System.Globalization

<h3>Employees</h3>

@if(employees == null)
{
    <Loading Label="Loading employees, please wait..."/>
}
else
{
    <table border="1">
        
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Hire date</th>
                <th>Salary</th>
                </tr>
        </thead>

        @foreach (var employee in employees)
        {
            <tr>
                <td>@employee.Name @employee.LastName</td>
                <td>@GetStatus(employee.IsActive)</td>
                <td>@employee.HireDate.ToString("dd/MM/yyyy")</td>
                <td>@employee.Salary.ToString("C", new CultureInfo("es-CO"))</td>
            </tr>
        }
        
    </table>   
}
