@page "/countries"

@if (loading)
{
    <Loading />
}
else
{
    <MudTable Items="@Countries"
              @ref="table"
              ServerData="LoadListAsync"
              Dense="true"
              Hover="true"
              Striped="true"
              FixedHeader="true"
              FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="me-4">Countries</MudText>
                <MudButton Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.Add"
                           Color="Color.Info" OnClick="@(() => ShowModalAsync())">
                    New Country
                </MudButton>
            </div>
            <MudSpacer />
            <FilterComponent ApplyFilter="SetFilterValue" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Country</MudTh>
            <MudTh style="width: 100px;">States</MudTh>
            <MudTh style="width: 270px;">Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd DataLabel="States">
                <MudTooltip Text="States">
                    <MudButton Variant="Variant.Filled"         
                            EndIcon="@Icons.Material.Filled.Map" 
                            Color="Color.Info" 
                            OnClick="@(() => StatesAction(@context))"            
                            style="width: 100px;">
                        @context.StatesNumber
                    </MudButton>
                </MudTooltip>
            </MudTd>
            <MudTd>
                <MudTooltip Text="Edit">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Warning"
                               OnClick="@(() => ShowModalAsync(context.Id, true))">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    </MudButton>
                </MudTooltip>
                <MudTooltip Text="Delete">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Error"
                               OnClick="@(() => DeleteAsync(@context))">
                        <MudIcon Icon="@Icons.Material.Filled.Delete" />
                    </MudButton>
                </MudTooltip>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>"No records found"</MudText>
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager RowsPerPageString="Number of records"
                           PageSizeOptions="pageSizeOptions"
                           AllItemsText="All"
                           InfoFormat="@infoFormat" />
        </PagerContent>
    </MudTable>
}
